*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    min-width: 50rem;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(248, 151, 53);
    padding: 1.25rem 0;
    border-bottom: 5px solid #ffffff;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline;
    margin-right: 5px;
}

.main {
    margin-top: 20px;
}

.profile {
    /* float: right; */
    margin-left: auto;
}

.sidebar {
    width: 15rem;
    padding-top: 1rem;
    box-sizing: border-box;
    flex-shrink: 0;
}

.sidebar fieldset {
    border: none;
}

.popular-products {
    text-align: justify;
    margin-bottom: 1rem;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.product-card {
    flex: 0 0 calc(33.33% - 20px);
}

.sidebar legend {
    font-weight: bold;
    font-size: 1.5rem;
}

.form-group {
    font-size: 1.2rem;
}

.page-content {
    padding: 1px;
    padding: 1rem;
}

.btn {
    color: white;
    background-color: rgb(248, 151, 53);
    border: none;
    border-radius: 5px;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card {
    display: flex;
    height: 21.8rem;
    width: 31rem;
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(248, 151, 53);
    border-radius: 5px;
}

.product-image {
    width: 50%;
    height: 100%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nproduct-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.product-details {
    /* float: right; */
    width: 50%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.product-details header {
    font-size: 1.2rem;
    font-weight: bold;
}

.new-card {
    width: 58rem;
    height: 30rem;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
    margin: 0 auto;
    gap: 30px;
}

.product-info {
    font-size: 14px;
    height: 65%;
    overflow: auto;
}

.product-info-new {
    color: #ffffff;
    font-size: 14px;
    height: 65%;
    overflow: auto;
}

.buy-btn {
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}

.btn-wrapper {
    text-align: center;
}

.price {
    background-color: rgb(36, 36, 36);
    padding: 0.625rem 1.25rem;
    display: inline-block;
}

.buy {
    background-color: rgb(248, 151, 53);
  color: white;    
  display: inline-block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border-radius: 5px;
}


.profile {
    text-align: center;
}

.block-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-center {
    text-align: center;
}

.mx-5 {
    margin: 0 200px;
}

.mx-1 {
    margin: 10px 0;
}


.text-just {
    text-align: justify;
}

.footer {
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    font-weight: bold;
    flex-grow: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #090707;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.d-flex {
    display: flex;
}